.box{
  border:2px solid black;
  color: blue;
  background-image: url("../images/boat.png");
  background-repeat: no-repeat;
  background-position:center center;
  background-size: cover;
  background-attachment: fixed;


}